<%- include('partials/command_header') %>

<div class="container">

    <div class="profile-view-container mt-2">
        <div class="contact-card shadow-sm">
            <img class="profile-picture" src="https://picsum.photos/200" alt="profile picture">
            <div class="contact-info">
                <h2 class="display-4 contact-name"><%= user.firstName %> <%= user.lastName %> <span class="lead"><span
                            class="badge badge-pill badge-success">Available</span></span></h2>
                <h4 class="display-4 second-tier-header contact-email"><%= user.username %></h4>
                <h4 class="display-4 second-tier-header contact-phone"><%= user.phone %></h4>
            </div>
            <div class="profile-view-buttons">
                <button class="btn btn-large btn-outline-secondary">Edit Profile</button>
            </div>
        </div>

        <div class="personal-card shadow-sm">
            <h2 class="display-4">Personal Information</h2>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Classification:</th>
                        <td><%= user.classification %></td>
                    </tr>
                    <tr>
                        <th>Location:</th>
                        <td><%= user.location %></td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td><%= user.country %></td>
                    </tr>
                    <tr>
                        <th>Division:</th>
                        <td><%= user.division %></td>
                    </tr>
                    <tr>
                        <th>Department/Function:</th>
                        <td><%= user.department %></td>
                    </tr>
                    <tr>
                        <th>Job Level:</th>
                        <td><%= user.level %></td>
                    </tr>
                    <tr>
                        <th>Years with Company:</th>
                        <td><%= user.yearsWithCompany %></td>
                    </tr>
                    <tr>
                        <th>Years in Current Position:</th>
                        <td><%= user.yearsCurrentPosition %></td>
                    </tr>
                    <tr>
                        <th>Areas for Development:</th>
                        <td>
                            <% user.areasForDev.forEach(function(dev){ %>
                            <%= dev %><br>
                            <% }); %>
                        </td>
                    </tr>
                    <tr>
                        <th>Areas of Expertise:</th>
                        <td>
                            <% user.areasOfExp.forEach(function(exp){ %>
                            <%= exp %><br>
                            <% }); %>
                        </td>
                    </tr>
                    <tr>
                        <th>Languages:</th>
                        <td>
                            <% user.languages.forEach(function(language){ %>
                            <%= language %><br>
                            <% }); %>
                        </td>
                    </tr>
                    <tr>
                        <th>Education Level:</th>
                        <td><%= user.education %></td>
                    </tr>
                    <tr>
                        <th>Certifications/Memberships:</th>
                        <td><%= user.certifications %></td>
                    </tr>
                    <tr>
                        <th>Community Service:</th>
                        <td><%= user.communityService %></td>
                    </tr>
                    <tr>
                        <th>LinkedIn Profile URL:</th>
                        <td><a href=<%= user.linkedin %> target="_blank">Go to profile</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="open-card shadow-sm">
            <h2 class="display-4">Open Ended Questions</h2>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th>Why do you want to join the program as a Mentee or Mentor?:</th>
                        <td><%= user.whyJoin %></td>
                    </tr>
                    <tr>
                        <th>What process would you like to use for the mentorship (email, phone, in person, etc.)?:
                        </th>
                        <td><%= user.mentorshipProcess %></td>
                    </tr>
                    <tr>
                        <th>What specific goals are you looking to accomplish during your time in this program?:</th>
                        <td><%= user.goals %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>







<%- include('partials/footer') %>