extends layout

block content
    .container
        if (user.classification) === "Mentee"
            h2.display-4.text-center View Requests
        else
            h2.display-4.text-center Manage Requests
        //- ===== MENTEE VIEW =====
        if (user.classification === "Mentee")
            .match-level
                h2.display-4.category-header
                if (menteeRequests.some(request => request.status === 2))
                    ul.list-group.shadow-sm-mb-4
                    for request in menteeRequests
                        if (request.status === 2)
                            li.list-group-item.list-group-item-action
                                //- TODO: take out conditional that looks for AWS photos
                                if request.mentor.profilePicture
                                    if request.mentor.profilePicture.split(":")[0] === "https"
                                        div
                                            img.thumbnail-profile-pic(src=request.mentor.profilePicture)
                                    else
                                        div
                                            img.thumbnail-profile-pic(src=`/uploads/${request.mentor.profilePicture}`)
                                else
                                    div
                                        img.thumbnail-profile-pic(src="/uploads/profile-placeholder.jpg")
                                .name-and-date
                                    h4.thumbnail-profile-name #{request.mentor.firstName} #{request.mentor.lastName}
                                    time.thumbnail-profile-date.second-tier-text(datetime=request.updatedAt)= h.moment(request.updatedAt).fromNow()
                                a(href=`/account/${request.mentor.slug}`)
                                    button.btn.btn-outline-secondary View Profile
                else
                    p.lead.font-italic.no-results You do not have any accepted requests.
            .match-level
                h2.display-4.category-header Pending
                if (menteeRequests.some(request => request.status === 1))
                    ul.list-group.shadow-sm-mb-4
                    for request in menteeRequests
                        if (request.status === 1)
                            li.list-group-item.list-group-item-action
                                //- TODO: take out conditional that looks for AWS photos
                                if request.mentor.profilePicture
                                    if request.mentor.profilePicture.split(":")[0] === "https"
                                        div
                                            img.thumbnail-profile-pic(src=request.mentor.profilePicture)
                                    else
                                        div
                                            img.thumbnail-profile-pic(src=`/uploads/${request.mentor.profilePicture}`)
                                else
                                    div
                                        img.thumbnail-profile-pic(src="/uploads/profile-placeholder.jpg")

                                .name-and-date
                                    h4.thumbnail-profile-name #{request.mentor.firstName} #{request.mentor.lastName}
                                    time.thumbnail-profile-date.second-tier-text(datetime=request.updatedAt)= h.moment(request.updatedAt).fromNow()
                                a(href=`/account/${request.mentor.slug}`)
                                    button.btn.btn-outline-secondary View Profile
                else
                    p.lead.font-italic.no-results You do not have any pending requests.
            .match-level
                h2.display-4.category-header Declined
                if (menteeRequests.some(request => request.status === 0))
                    ul.list-group.shadow-sm-mb-4
                    for request in menteeRequests
                        if (request.status === 0)
                            li.list-group-item.list-group-item-action
                                //- TODO: take out conditional that looks for AWS photos
                                if request.mentor.profilePicture
                                    if request.mentor.profilePicture.split(":")[0] === "https"
                                        div
                                            img.thumbnail-profile-pic(src=request.mentor.profilePicture)
                                    else
                                        div
                                            img.thumbnail-profile-pic(src=`/uploads/${request.mentor.profilePicture}`)
                                else
                                    div
                                        img.thumbnail-profile-pic(src="/uploads/profile-placeholder.jpg")
                                .name-and-date
                                    h4.thumbnail-profile-name #{request.mentor.firstName} #{request.mentor.lastName}
                                    time.thumbnail-profile-date.second-tier-text(datetime=request.updatedAt)= h.moment(request.updatedAt).fromNow()
                                a(href=`/account/${request.mentor.slug}`)
                                    button.btn.btn-outline-secondary View Profile
                else
                    p.lead.font-italic.no-results You do not have any declined requests.

        //- ===== MENTOR VIEW =====
        else
            .match-level
                h2.display-4.category-header
                if (mentorRequests.some(request => request.status === 2))
                    ul.list-group.shadow-sm-mb-4
                    for request in mentorRequests
                        if (request.status === 2)
                            li.list-group-item.list-group-item-action
                                //- TODO: take out conditional that looks for AWS photos
                                if request.mentee.profilePicture
                                    if request.mentee.profilePicture.split(":")[0] === "https"
                                        div
                                            img.thumbnail-profile-pic(src=request.mentee.profilePicture)
                                    else
                                        div
                                            img.thumbnail-profile-pic(src=`/uploads/${request.mentee.profilePicture}`)
                                else
                                    div
                                        img.thumbnail-profile-pic(src="/uploads/profile-placeholder.jpg")
                                .name-and-date
                                    h4.thumbnail-profile-name #{request.mentee.firstName} #{request.mentee.lastName}
                                    time.thumbnail-profile-date.second-tier-text(datetime=request.updatedAt)= h.moment(request.updatedAt).fromNow()
                                a(href=`/account/${request.mentee.slug}`)
                                    button.btn.btn-outline-secondary View Profile

                else
                    p.lead.font-italic.no-results You do not have any accepted requests.

            .match-level
                h2.display-4.category-header Pending
                if (mentorRequests.some(request => request.status === 1))
                    ul.list-group.shadow-sm-mb-4
                    for request in mentorRequests
                        if (request.status === 1)
                            li.list-group-item.list-group-item-action
                                //- TODO: take out conditional that looks for AWS photos
                                if request.mentee.profilePicture
                                    if request.mentee.profilePicture.split(":")[0] === "https"
                                        div
                                            img.thumbnail-profile-pic(src=request.mentee.profilePicture)
                                    else
                                        div
                                            img.thumbnail-profile-pic(src=`/uploads/${request.mentee.profilePicture}`)
                                else
                                    div
                                        img.thumbnail-profile-pic(src="/uploads/profile-placeholder.jpg")
                                .name-and-date
                                    h4.thumbnail-profile-name #{request.mentee.firstName} #{request.mentee.lastName}
                                    time.thumbnail-profile-date.second-tier-text(datetime=request.updatedAt)= h.moment(request.updatedAt).fromNow()

                                //- makes sure the "accept" button is only shown when the mentor doesn't have any accepted requests and the mentee hasn't accepted any requests
                                if (!mentorRequests.some(request => request.status === 2) && (!request.mentee.requests.some(request => request.status === 2)))
                                    form(action=`/accept/${request.mentee._id}` method="POST" onsubmit=`return confirm('Are you sure you want to accept the request from ${request.mentee.firstName} ${request.mentee.lastName}?')`)
                                        button.btn.btn-success.mr-3 Accept
                                //- if just the mentee has an accepted request we will show the mentor that the mentee is already matched
                                if (request.mentee.requests.some(request => request.status === 2))
                                    input.btn.btn-outline-success.mr-3(type="button" value="Matched" disabled)
                                form(action=`/decline/${request.mentee._id}` method="POST" onsubmit=`return confirm('Are you sure you want to decline the request from ${request.mentee.firstName} ${request.mentee.lastName}?')`)
                                    button.btn.btn-outline-danger.mr-3 Decline
                                a(href=`/account/${request.mentee.slug}`)
                                    button.btn.btn-outline-secondary View Profile
                else
                    p.lead.font-italic.no-results You do not have any pending requests.

            .match-level
                h2.display-4.category-header Declined
                if (mentorRequests.some(request => request.status === 0))
                    ul.list-group.shadow-sm-mb-4
                    for request in mentorRequests
                        if (request.status === 0)
                            li.list-group-item.list-group-item-action
                                //- TODO: take out conditional that looks for AWS photos
                                if request.mentee.profilePicture
                                    if request.mentee.profilePicture.split(":")[0] === "https"
                                        div
                                            img.thumbnail-profile-pic(src=request.mentee.profilePicture)
                                    else
                                        div
                                            img.thumbnail-profile-pic(src=`/uploads/${request.mentee.profilePicture}`)
                                else
                                    div
                                        img.thumbnail-profile-pic(src="/uploads/profile-placeholder.jpg")
                                .name-and-date
                                    h4.thumbnail-profile-name #{request.mentee.firstName} #{request.mentee.lastName}
                                    time.thumbnail-profile-date.second-tier-text(datetime=request.updatedAt)= h.moment(request.updatedAt).fromNow()
                                a(href=`/account/${request.mentee.slug}`)
                                    button.btn.btn-outline-secondary View Profile

                else
                    p.lead.font-italic.no-results You do not have any declined requests.




