mixin accountView(account = {})

    .profile-view-container
        .profile-header

            .profile-header-content
                if account.profilePicture
                    if account.profilePicture.split(":")[0] === "https"
                        img.profile-picture(src=account.profilePicture)
                    else
                        img.profile-picture(src=`/uploads/${account.profilePicture}`)
                else
                    img.profile-picture(src="/uploads/profile-placeholder.jpg")
                h2.display-4.profile-name #{account.firstName} #{account.lastName}
                h4.display-4.profile-subtitle #{account.department}

                //- set of conditionals and checks that do the following: 1) makes sure user is a mentee, the account is one of a mentor, and the user and account are not the same person
                //- 2) compares lists of requests and if the user and the account share a request, that means the mentee has already requested that mentor so we show a different button
                if account.classification === "Mentor" && user.id !== account.id && user.classification === "Mentee"
                    - const userRequests = user.requests.map(obj => obj.toString())
                    - const accountRequests = account.requests.map(obj => obj.toString())
                    - let alreadyRequested = false
                    each userRequest in userRequests
                        if (accountRequests.includes(userRequest))
                            - alreadyRequested = true
                            - break
                        else
                            - continue
                    //- show requested button
                    if (alreadyRequested)
                        input.btn.btn-outline-secondary(type="button" value="Requested" disabled)
                    //- allow user to request that particular mentor
                    else
                        form.request-form(action=`/request/${account.id}` method="POST" onsubmit=`return confirm('Are you sure you want to send this request to ${account.firstName} ${account.lastName}?')`)
                            input.btn.btn-primary.request-button(type="submit" value="Request")

                if user.id === account.id
                    a(href=`/account/${user.slug}/edit`)
                        button.btn.btn-outline-secondary Edit Profile

            pre=h.dump(alreadyRequested)
            .profile-header-buttons
                .profile-email
                    a.card-button-link(href=`mailto:${account.email}`)
                        i.far.fa-envelope.fa-2x
                if account.linkedin
                    .profile-linkedin
                        a.card-button-link(href=`${account.linkedin}`)
                            i.fab.fa-linkedin.fa-2x.ml-2

        .profile-contact
            h4.display-4.section-header Contact
            table
                tr
                    th.table-row-title
                        i.fas.fa-phone
                    td.table-row-content #{account.phone}
                tr
                    th.table-row-title
                        i.far.fa-envelope
                    td.table-row-content #{account.email}
                tr
                    th.table-row-title
                        i.fas.fa-map-marker-alt
                    td.table-row-content #{account.location}, #{account.country}


        .profile-work
            h4.display-4.section-header Bosch
            table
                tr
                    th.table-row-title Division
                    td.table-row-content #{account.division}
                tr
                    th.table-row-title Level
                    td.table-row-content #{account.level}
                tr
                    th.table-row-title Current Position
                    td.table-row-content #{account.yearsWithCompany}
                tr
                    th.table-row-title Company
                    td.table-row-content #{account.yearsCurrentPosition}

        .profile-personal
            h4.display-4.section-header Personal
            table
                tr
                    th.table-row-title Education
                    td.table-row-content #{account.education}
                tr
                    th.table-row-title Languages
                    td.table-row-content #{account.languages}

        .profile-areas
            if account.classification === "Mentee"
                h4.display-4.section-header Areas For Development
                - const paragraph = account.areas.join(" |  ")
                p #{paragraph}
            else
                h4.display-4.section-header Areas Of Expertise
                - const paragraph = account.areas.join(" |  ")
                p #{paragraph}

        if account.certifications || account.communityService
            .profile-experience
                    h4.display-4.section-header Extras
                        if account.certifications
                            h4 Certifications
                            p #{account.certifications}
                        if account.communityService
                            h4 Community Service
                            p #{account.communityService}

        .profile-questions
            h4.display-4.section-header Questions
            if account.classification === "Mentor" && account.whyMentor
                h4 Why do you want to me a mentor?
                p #{account.whyMentor}
            else if account.classification === "Mentee" && account.whyMentee
                h4 Why do you want to me a mentee?
                p #{account.whyMentee}
            if account.mentorshipProcess
                h4 How do you want to handle the mentor process?
                p #{account.mentorshipProcess}
            if account.goals
                h4 What are your goals for the next 6 months?
                p #{account.goals}