mixin registrationForm()

    form(action=(!user ? "/register" : "/account/:slug/edit") method="POST" enctype="multipart/form-data")

        if !user
            .info-section.shadow-sm
                h2.info-section-header Mentor or Mentee?
                .row.pl-3
                    .form-group.col
                        label.form-check-label(for="mentorMentee")
                        select#mentorMentee.form-control(name="classification" required)
                            option(selected disabled) Please Select
                            option(value="Mentor") Mentor
                            option(value="Mentee") Mentee



        .info-section.shadow-sm
            h2.info-section-header Contact Information
            .row
                .form-group.col-lg-6
                    label(for='firstName')
                        | First Name
                        span.required *
                    input#firstName.form-control(type='text' name="firstName" value=((user ? user.firstName : "") || (body ? body.firstName : "")) required)
                .form-group.col-lg-6
                    label(for='lastName')
                        | Last Name
                        span.required *
                    input#lastName.form-control(type='text' name="lastName" value=((user ? user.lastName : "") || (body ? body.lastName : "")) required)
            .row
                .form-group.col-lg-8
                    label(for='email')
                        | Email
                        span.required *
                    input#email.form-control(type='email' name="email" value=((user ? user.email : "") || (body ? body.email : "")) required)
                .form-group.col-lg-4
                    label(for='phone')
                        | Phone Number
                        span.required *
                    input#phone.form-control.input-phone(type='tel' name="phone" value=((user ? user.phone : "") || (body ? body.phone : "")) required)


        .info-section.shadow-sm
            h2.info-section-header Personal Information
            .row
                if !user
                    .form-group.col-lg-6
                        label(for='location')
                            | Location
                            span.required *
                        select#location.form-control(name="location" required)
                            option(selected='' disabled='') Please Select
                            for location in h.locations
                                if ((user ? user.location : "") || (body ? body.location : "")) === location
                                    option(value=location selected) #{location}
                                else
                                    option(value=location) #{location}

                else
                    .form-group.col
                        label(for='location')
                            | Location
                            span.required *
                        select#location.form-control(name="location" required)
                            option(selected='' disabled='') Please Select
                            for location in h.locations
                                if ((user ? user.location : "") || (body ? body.location : "")) === location
                                    option(value=location selected) #{location}
                                else
                                    option(value=location) #{location}
                if !user
                    .form-group.col-lg-6
                        label(for='country')
                            | Country
                            span.required *
                        select#country.form-control(name="country" required)
                            option(selected='' disabled='') Please Select
                            for country in h.countries
                                if ((user ? user.country : "") || (body ? body.country : "")) === country
                                    option(value=country selected) #{country}
                                else
                                    option(value=country) #{country}
            .row
                .form-group.col-lg-6
                    label(for='division')
                        | Division
                        span.required *
                    select#division.form-control(name="division" required)
                        option(selected='' disabled='') Please Select
                        for division in h.divisions
                            if ((user ? user.division : "") || (body ? body.division : "")) === division
                                option(value=division selected) #{division}
                            else
                                option(value=division) #{division}

                .form-group.col-lg-6
                    label(for='department')
                        | Department/Function
                        span.required *
                    select#department.form-control(name="department" required)
                        option(selected='' disabled='') Please Select
                        for department in h.departments
                            if ((user ? user.department : "") || (body ? body.department : "")) === department
                                option(value=department selected) #{department}
                            else
                                option(value=department) #{department}
            .row
                .form-group.col-lg-4
                    label(for='level')
                        | Job Level
                        span.required *
                    select#level.form-control(name="level" required)
                        option(selected='' disabled='') Please Select
                        for jobLevel in h.jobLevels
                            if ((user ? user.level : "") || (body ? body.level : "")) === jobLevel
                                option(value=jobLevel selected) #{jobLevel}
                            else
                                option(value=jobLevel) #{jobLevel}

                .form-group.col-lg-4
                    label(for='yearsWithCompany')
                        | Years with Company
                        span.required *
                    select#yearsWithCompany.form-control(name="yearsWithCompany" required)
                        option(selected='' disabled='') Please Select
                        for year in h.years
                            if ((user ? user.yearsWithCompany : "") || (body ? body.yearsWithCompany : "")) === year
                                option(value=year selected) #{year}
                            else
                                option(value=year) #{year}

                .form-group.col-lg-4
                    label(for='yearsInCurrentPosition')
                        | Years in Current Position
                        span.required *
                    select#yearsInCurrentPosition.form-control(name="yearsInCurrentPosition" required)
                        option(selected='' disabled='') Please Select
                        for year in h.years
                            if ((user ? user.yearsCurrentPosition : "") || (body ? body.yearsCurrentPosition : "")) === year
                                option(value=year selected) #{year}
                            else
                                option(value=year) #{year}

            if user
                if user.classification === "Mentee"
                    .row
                        .form-group.col
                            label(for='areasForDevelopment') Areas for Development (you can select multiple)
                            select#areasForDevelopment.form-control.selectpicker(multiple='' name="areas")
                                for area in h.areas
                                    if ((user ? user.areas.includes(area) : false) || (body ? body.areas.includes(area) : false))
                                        option(value=area selected) #{area}
                                    else
                                        option(value=area) #{area}
                else
                    .row
                        .form-group.col
                            label(for='areasOfExpertise') Areas of Expertise (you can select multiple)
                            select#areasOfExpertise.form-control.selectpicker(multiple='' name="areas")
                                for area in h.areas
                                    if ((user ? user.areas.includes(area) : false) || (body ? body.areas.includes(area) : false))
                                        option(value=area selected) #{area}
                                    else
                                        option(value=area) #{area}

            else
                .row#devAreas(style="display: none")
                    .form-group.col
                        label(for='areasForDevelopment') Areas for Development (you can select multiple)
                        select#areasForDevelopment.form-control.selectpicker(multiple='' name="areas")
                            for area in h.areas
                                if ((user ? user.areas.includes(area) : false) || (body ? body.areas.includes(area) : false))
                                    option(value=area selected) #{area}
                                else
                                    option(value=area) #{area}

                .row#expAreas(style="display: none")
                    .form-group.col
                        label(for='areasOfExpertise') Areas of Expertise (you can select multiple)
                        select#areasOfExpertise.form-control.selectpicker(multiple='' name="areas")
                            for area in h.areas
                                if ((user ? user.areas.includes(area) : false) || (body ? body.areas.includes(area) : false))
                                    option(value=area selected) #{area}
                                else
                                    option(value=area) #{area}
            .row
                .form-group.col-lg-6
                    label(for='languages') Languages (you can select multiple)

                    select#languages.form-control.selectpicker(multiple='' name="languages" required)
                        for language in h.languages
                            if ((user ? user.languages.includes(language) : false) || (body ? body.languages.includes(language) : false))
                                option(value=language selected) #{language}
                            else
                                option(value=language) #{language}
                .form-group.col-lg-6
                    label(for='education')
                        | Education Level
                        span.required *
                    select#education.form-control(name="education" required)
                        option(selected='' disabled='') Please Select
                        for educationLevel in h.educationLevels
                            if ((user ? user.education : "") || (body ? body.education : "")) === educationLevel
                                option(value=educationLevel selected) #{educationLevel}
                            else
                                option(value=educationLevel) #{educationLevel}
            .row
                .form-group.col-lg-6
                    label(for='certifications') Certifications / Memberships
                    input#certifications.form-control(type='text' name="certifications" value=((user ? user.certifications : "") || (body ? body.certifications : "")))
                .form-group.col-lg-6
                    label(for='communityService') Community Service
                    input#communityService.form-control(type='text' name="communityService" value=((user ? user.communityService : "") || (body ? body.communityService : "")))
            .row
                .form-group.col
                    label(for='linkedin') LinkedIn Profile URL (if you have one)
                    input#linkedin.form-control(type='url' name="linkedin" value=((user ? user.linkedin : "") || (body ? body.linkedin : "")))


        .info-section.shadow-sm
            h2.info-section-header Open Ended Questions
            if user
                if user.classification === "Mentor"
                    .row
                        .form-group.col
                            label(for='whyMentor') Why do you want to be a mentor?
                            textarea#whyMentor.form-control(rows='3', name="whyMentor")= (user ? user.whyMentor : "") || (body ? body.whyMentor : "")
                else
                    .row
                        .form-group.col
                            label(for='whyMentee') Why do you want to be a mentee?
                            textarea#whyMentee.form-control(rows='3', name="whyMentee")= (user ? user.whyMentee : "") || (body ? body.whyMentee : "")
            else
                .row#mentorQuestion(style="display: none")
                        .form-group.col
                            label(for='whyMentor') Why do you want to be a mentor?
                            textarea#whyMentor.form-control(rows='3', name="whyMentor")= (user ? user.whyMentor : "") || (body ? body.whyMentor : "")
                .row#menteeQuestion(style="display: none")
                        .form-group.col
                            label(for='whyMentee') Why do you want to be a mentee?
                            textarea#whyMentee.form-control(rows='3', name="whyMentee")= (user ? user.whyMentee : "") || (body ? body.whyMentee : "")

            .row
                .form-group.col
                    label(for='goals') What specific goals are you looking to work on during the 6 month partnership?
                    textarea#goals.form-control(rows='3', name="goals")= (user ? user.goals : "") || (body ? body.goals : "")



            //- PROFILE PICTURE FEATURE
            //- .row
            //-     .form-group.col
            //-         if user
            //-             if user.profilePicture
            //-                 .mb-3
            //-                     .medium-avatar(style=`background-image: url("/uploads/${user.profilePicture}");`)
            //-         .custom-file
            //-             label(for="profilePicture") Profile Picture
            //-             input.form-control-file#profilePicture(type="file" name="profilePicture" accept="image/gif, image/png, image/jpg, image/jpeg")

        if !user
            .info-section.shadow-sm
                h2.info-section-header Account Information
                .row
                    .form-group.col
                        label(for="password")
                            | Password
                            span.required *
                        span.doNotMatch.hide.ml-3 Passwords do not match
                        span.match.hide.ml-3 Passwords match!
                        input.form-control#password(name="password" type="password" required)
                        label.mt-4(for="confirm-password")
                            | Confirm Password
                            span.required *
                        input.form-control#confirm-password(name="confirm-password" type="password" required)

        if !user
            .info-section.shadow-sm
                p
                    | By participating in the RBNA Mentoring Program, I have read and agree to abide by the above Terms of Use for the Mentor Match system.
                    br
                    button.btn.btn-primary.btn-sm.mt-2(type='button' data-bs-toggle='modal' data-bs-target='#termsModal')
                        | View Terms
                    .form-check.form-check-inline
                        input#termsYes.form-check-input(type='radio' name='terms' value='yes')
                        label.form-check-label(for='termsYes') Yes
                    .form-check.form-check-inline
                        input#termsNo.form-check-input(type='radio' name='terms' value='no' checked='')
                        label.form-check-label(for='termsNo') No
                #termsModal.modal.fade(tabindex='-1' aria-labelledby='termsModalLabel' aria-hidden='true')
                    .modal-dialog.modal-dialog-scrollable
                        .modal-content
                            .modal-header
                                h5#termsModalLabel.modal-title Terms of Use
                            .modal-body
                                p Bosch has created Mentor Match as a valuable tool for employees to develop mentoring relationships. Mentor Match is designed to allow personal input. Employees will utilize this system to promote their professional development and career goals, and will apply and abide by all current internet use policies as defined by Bosch.

                                p In order to curtail any potential for inappropriate use of Mentor Match, the following policy and agreement is required for participation.

                                p Bosch requires participants to maintain a courteous, polite dialogue in Mentor Match. This system is provided to encourage the sharing of ideas, knowledge and suggestions among employees. As such, employees should be respectful and helpful in encouraging each other’s ideas, while offering only constructive criticism and suggestions.

                                p The amount of time an employee spends during the work day on Mentor Match should be limited to an appropriate length and only when it does not interfere with work tasks and projects.

                                p Bosch prohibits the following actions while using Mentor Match:

                                ul
                                    li Posting false or misleading declarations of work or personal achievements
                                    li Disclosure of confidential and/or proprietary information
                                    li Solicitation of any outside business without specific permission granted from Administrator
                                    li Distributing employee contact information to any outside business
                                    li Intimidating any other employee, including threatening behavior, continual badgering or stalking
                                    li Any form of harassment
                                    li Profanity
                                    li Complaining about the company or any relevant policies, procedures or decisions
                                    li Sharing your profile ID or allowing access to any unauthorized person
                                    li Access to Mentor Match is prohibited should you leave employment of Bosch, regardless of whether your access has been deleted.

                                p The administrators will monitor and administrate Mentor Match. Should violations of the Terms of Use be discovered, appropriate action will be taken. Depending on the severity of the violation, Bosch may institute an appropriate response.
                            .modal-footer
                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close

        p(aria-hidden="true")
        span.required *
        |  Required Field
        br
        br

        button.btn.btn-primary.btn-block.mb-4(type='submit')= user ? "Save" : "Submit"
