mixin userHorizontalCard(result = {})
    li.list-group-item.list-group-item-action
        - const avatarFirst = result.firstName.charAt(0)
        - const avatarLast = result.lastName.charAt(0)
        - const avatarColor = h.colors[Math.floor(Math.random() * h.colors.length)]

        .avatar-container.avatar-horizontal(style=`background: ${avatarColor}`) #{avatarFirst}#{avatarLast}
            //- PROFILE PICTURE FEATURE
            //- if result.profilePicture
            //-     if result.profilePicture.split(":")[0] === "https"
            //-         img.thumbnail-profile-pic(src=result.profilePicture)
            //-     else
            //-         img.thumbnail-profile-pic(src=`/uploads/${result.profilePicture}`)
            //- else
            //-     img.thumbnail-profile-pic(src="/uploads/profile-placeholder.jpg")
        //- img.thumbnail-profile-pic(src="assets/profile-placeholder.jpg" alt="profile picture of user")
        h4.thumbnail-profile-name #{result.firstName} #{result.lastName}
            span.lead.badge-wrapper
                if result.classification === "Mentor"
                    span.badge.badge-pill.badge-warning.ml-2
                        | Mentor
                else
                    span.badge.badge-pill.badge-success.ml-2
                        | Mentee

        .thumbnail-profile-buttons
            a(href=`/account/${result.slug}`)
                button.btn.btn-outline-secondary View Profile






