<%- include('partials/command_header') %>

<div class="container">
    <h2 class="display-4 mt-3">Results</h2>
    <p class="lead">Here are your search results.</p>
    <ul class="list-group shadow-sm mb-4">

        <% results.forEach(function(result){ %>

        <li class="list-group-item list-group-item-action">
            <img class="thumbnail-profile-pic" src="assets/profile-placeholder.jpg"
                alt="profile picture of matched mentor">
            <h4 class="thumbnail-profile-name"><%= result.firstName %> <%= result.lastName %><span
                    class="lead badge-wrapper"><span class="badge badge-pill badge-success">Available</span></span></h2>
            </h4>


            <div class="thumbnail-profile-buttons">
                <% if (currentUser.classification === "mentee" && result.classification === "mentor") { %>
                <% if (result.requests.some(request => request.requester.toString() === currentUser._id.toString())) { %>
                <button class="btn btn-outline-primary mr-3" disabled>Requested</button>
                <% } else { %>
                <form action="/request/<%= result._id %>" method="POST">
                    <button class="btn btn-primary request-toast mr-3">Request</button>
                </form>
                <% }; %>
                <% }; %>
                <a href="/profile/<%= result._id %>"><button class="btn btn-outline-secondary">View Profile</button></a>
            </div>
        </li>
        <% }); %>
    </ul>



</div>

<%- include('partials/footer') %>